<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><InfinitySpiritMetaTitle>test</InfinitySpiritMetaTitle></title>
    <link rel="stylesheet" href="./style.css" />
    <script defer src="./script.js"></script>
  </head>

  <body>
    <div class="article-body">
      <div class="article-title"></div>
      <div class="article-content">
        <InfinitySpiritContent>
          <h1>Title</h1>
          <p>
            contents<br />
            contents<br />
            contents<br />
            contents<br />
            contents<br />
            contents<br />
            contents<br />
            contents<br />
            contents<br />
            contents<br />
            contents<br />
          </p>
        </InfinitySpiritContent>
      </div>
      <div class="article-index"></div>
    </div>
  </body>
</html>
